'*.file' filter=lfs diff=lfs merge=lfs -text
'*.tgz' filter=lfs diff=lfs merge=lfs -text
'*.FILE' filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
/Library filter=lfs diff=lfs merge=lfs -text
/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Unity filter=lfs diff=lfs merge=lfs -text
Project/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/\* filter=lfs diff=lfs merge=lfs -text
'*.zip' filter=lfs diff=lfs merge=lfs -text
